/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    height: 100vh;
    background-color: #6c3a0f;
}

.header {
    background-color: rgb(194, 71, 37);
}

h1 {
    margin-left: 20px;
    padding-top: 24px;
}

#newBookBtn {
    outline: none;
    border-radius: 8px;
    margin-left: 20px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #checkbox {
    margin-top: 4px;
} */

dialog {
    border-radius: 8px;
}

#bookForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: #ddd; */
}

#library {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    /* justify-content: center; */
    gap: 20px;
}

.card {
    justify-self: center;
    background-color: #ddd;
    margin: 20px;
    padding: 6px;
    width: 240px;
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
}
